 body {
    text-align: center;
    /* margin-top: 30%;*/
    background-color: bisque;
} 

 .mondai {
    text-align: center;
} 

.input {
    height: 150px;
    width: 500px;
    text-align: center;
    background: none;
    border: none;
    color: bisque;
    font-size: 100%;
}

.transparent {
    opacity: 0.5;
}

.opaque {
    opacity: 1;
}
.batu {
    position: absolute;
    top:0;
    left: 0;
  }
  .bun {
    font-size: 30px;
  }


